
@{

}
 

<div>
    <img src="~/Media/Galery/logo.png" alt="Logo kina Jr.Net">
    <h1>Kino Jr.Net</h1>
</div>


<section>
    <h2>Oferta</h2>
    <p>Kino Jr.Net to wyjątkowe miejsce, w którym można zobaczyć najnowsze hity filmowe z całego świata. 
       Nasze sale są wyposażone w najlepszej jakości ekrany i dźwięk, dzięki czemu oglądanie filmów staje się prawdziwym wrażeniem.</p>
</section>


<section>
    <h2>Galeria</h2>
    <div>
        <h3>Sala kinowa</h3>
        <img class="poster_big" src="~/Media/Galery/sala.jpg" alt="Zdjęcie z sali kinowej">
        <h3>Bar kina</h3>
        <img class="poster_big" src="~/Media/Galery/bar.jpg" alt="Zdjęcie z baru kina">
        <h3>Foyer kina</h3>
        <img class="poster_big" src="~/Media/Galery/foyer.jpg" alt="Zdjęcie z foyer kina">
    </div>
</section>


<section>
    <h2>Kontakt</h2>
    <p>
        Kino Jr.Net<br>
        ul. Kinoowa 1<br>
        00-000 Warszawa<br>
        tel. +48 123 456 789<br>
        email: kinojr.Net@kinoabc.pl
    </p>
</section>


