
@{
}
<table>
    <thead>
        <tr>
            <th>Rodzaj biletu</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Normalny</td>
            <td>20 zł</td>
        </tr>
        <tr>
            <td>Ulgowy</td>
            <td>15 zł</td>
        </tr>
        <tr>
            <td>Grupowy</td>
            <td>16 zł (dla grup powyżej 10 osób)</td>
        </tr>
        <tr>
            <td>Bilet weekendowy</td>
            <td>25 zł</td>
        </tr>
        <tr>
            <td>Bilet VIP</td>
            <td>50 zł</td>
        </tr>
        <tr>
            <td>Bilet dla dziecka</td>
            <td>10 zł</td>
        </tr>
        <tr>
            <td>Bilet rodzinny</td>
            <td>60 zł (2 dorośli i 2 dzieci)</td>
        </tr>
        <tr>
            <td>Bilet studencki</td>
            <td>18 zł (w dni robocze)</td>
        </tr>
        <tr>
            <td>Bilet seniora</td>
            <td>10 zł (w dni robocze przed 16:00)</td>
        </tr>
    </tbody>
</table>
