@model SummaryModel
@{
}
<h1 class="text-center">Podsumowanie</h1>

<h3 class="text-success text-center">Zakup wykonany pomyślnie</h3>


<div class="dowloadTicket">
    <iframe src="~/pdf/@Model.PDFUrl" style="width:100%; height:600px;"></iframe>

</div>